target
*.iml
*.ids
*.ipr
*.iws
.classpath
.idea
*.tld
*plugin.xml
out/
database/
cobertura.ser
*.DS_Store
.project
.settings
*.ser
CodeNarcReport.html
logs/*
*.db
.env
local.env
prod.env
.gradle/
build/
buildPlugins/
.sass-cache
.sass-work
.asscache
.slcache
/coverage/
classes/
/nodejs
/node_modules
npm-debug.log
temp.json
src/main/resources/public
application-development.yml
aliyun_node_client
temp.py