<section class="container-fluid">
    <div class="main-module">
        <div ng-controller="UserController">
            <div class="row">
                <div class="col-lg-offset-1"/>
                <div class="col-lg-12">

                    <div class="col-lg-5">

                        <div class="panel panel-default" style="border:1px solid gray">
                            <div class="panel-heading">Login</div>
                            <div class="panel-body">


                                <form>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">

                                                <label for="user">UserName<span style="color:red">*</span>:</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" ng-model="loginUsername"
                                                       ng-required="true"
                                                       placeholder="Enter Your Name">

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">

                                                <label for="pwd">Password<span style="color:red">*</span>:</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" ng-model="loginPassword"
                                                       ng-required="true"
                                                       placeholder="Enter Your Password">

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-lg-6">
                                            <button type="button" class="btn btn-link"><u>Forgot Password</u></button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button ng-click="login()" type="submit" class="btn btn-info"
                                                    style="width:100px"> Login
                                            </button>
                                        </div>

                                    </div>


                                </form>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">

                        <div class="panel panel-default" style="border:1px solid gray">
                            <div class="panel-heading">Register</div>
                            <div class="panel-body">


                                <form>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">

                                                <label for="fname">Firstname<span style="color:red">*</span>:</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" ng-model="firstName"
                                                       ng-required="true"
                                                       placeholder="Enter Your First Name">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">

                                                <label for="lname">Lastname<span style="color:red">*</span>:</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" ng-model="lastName"
                                                       ng-required="true"
                                                       placeholder="Enter Your Last Name">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">

                                                <label for="email">Email<span style="color:red">*</span>:</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <input type="email" class="form-control" ng-model="email"
                                                       ng-required="true"
                                                       placeholder="Enter Your Name">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">

                                                <label for="user">UserName<span style="color:red">*</span>:</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" ng-model="username"
                                                       ng-required="true"
                                                       placeholder="Enter Your Name">

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">

                                                <label for="pwd">Password<span style="color:red">*</span>:</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" ng-model="password"
                                                       ng-required="true"
                                                       placeholder="Enter Your Password">

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">

                                                <label for="photo">Photo<span style="color:red">*</span>:</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <!--<input type="file" class="filestyle">-->
                                                <input type="file" class="filestyle" data-classIcon="icon-plus"
                                                       data-buttonText="Find file">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-6">
                                        </div>
                                        <div class="col-lg-6">
                                            <button type="submit" ng-click="save()" class="btn btn-info"
                                                    style="width:100px"> Register
                                            </button>
                                        </div>

                                    </div>


                                </form>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
